@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
body {
  font-family: "Open Sans", serif;
}

/* GENERAL */
.container {
  max-width: 75rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: #6b4f31;
}

/* HEADER */
header {
  padding: 0.9375rem 0;
  color: #6b4f31;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-container > div {
  display: flex;
  align-items: center;
}

header .img-container {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 100%;
  overflow: hidden;
}

header h1 {
  font-size: 2.5rem;
  margin-left: 0.625rem;
}

header ul {
  display: flex;
  gap: 1.875rem;
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: #8c6431;
  font-weight: 600;
}

header ul a.active {
  color: #4f3931;
  border-bottom: 0.125rem solid #4f3931;
}

/* MAIN */
main {
  background-color: #e2d8c5;
}

main section {
  text-align: center;
}

main h1 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

main h2 {
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}

main h3 {
  margin-bottom: 0.625rem;
  font-size: 1.5625rem;
}

main p {
  font-weight: 600;
}

main ul {
  list-style: none;
}

/* HOMEPAGE */
.hero {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6.25rem 0;
}

.featured-recipes {
  padding: 1.875rem 0;
}

.featured-recipes p {
  margin-bottom: 1.875rem;
}

.featured-recipes button {
  padding: 0.625rem 1.875rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #6b4f31;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.875rem;
}

.featured-recipes button:hover {
  background-color: #d39e00;
}

/* ABOUT-US */
.about-us {
  display: flex;
  justify-content: center;
  padding: 3.125rem 0;
}

.about-us > div {
  max-width: 56.25rem;
}

.about-us-imgs {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

/* FEED */
.feed {
  padding: 3.125rem 0;
}

/* POST PAGE */
.post-page {
  padding: 3.125rem 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: white;
  border: 0.0625rem solid #a77d49;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}

.post-img-container {
  width: 50%;
  margin: 1.25rem 0;
}

/* POST LIST */
.post-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 3.125rem;
}

/* Post-card */
.post-card {
  width: 100%;
  height: 100%;
  padding: 0.9375rem 1.25rem;
  background-color: white;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #a77d49;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.no-underline {
  text-decoration: none;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header h4 {
  color: #8c6431;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.card-header button {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  color: #a77d49;
  cursor: pointer;
}

.card-img {
  margin: 0 auto;
}

.card-body > p {
  font-size: 1rem;
  margin: 0.625rem 0;
  color: black;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.625rem 0;
}

.tags-list a {
  margin-left: 0.625rem;
  text-decoration: none;
  font-weight: 600;
  color: #7e71bf;
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  padding: 2.5rem 1.25rem;
  text-align: center;
}

footer h3,
h4 {
  color: white;
  margin-bottom: 0.9375rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1.25rem;
}

.footer-section {
  flex: 1;
  min-width: 12.5rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.3125rem 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #d8c8ae;
}

.social-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0.3125rem 0;
  transition: 0.3s;
}

.social-links a:hover {
  color: #d8c8ae;
}

/* Newsletter */
.newsletter-input {
  width: 100%;
  padding: 0.625rem;
  margin-top: 0.3125rem;
  border: none;
  border-radius: 0.3125rem;
}

.newsletter-button {
  background-color: #6b4f31;
  color: white;
  border: none;
  padding: 0.625rem 6.25rem;
  margin-top: 0.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-button:hover {
  background-color: #d39e00;
}

/* Footer-bottom */
.footer-bottom {
  margin-top: 1.25rem;
  padding-top: 0.625rem;
  border-top: 0.0625rem solid gray;
  font-size: 0.875rem;
}
